@media screen and (max-width: 840px) {
    #my-image, #about-me {
        float:none;
        width:100%;
    }

    #about {
        height:auto;
        padding-bottom:80px;
    }

    #about-me {
        margin-top:40px;
    }

    .fact-column {
        float:none;
        width:100%;
    }

    .work-content  {
        p {
            text-align:center;
            width:80%;
        }

        h2 {
            padding:15px;
        }
    }

    .socials {
        width: 210px;
        margin: 0 auto;
        margin-top: 30px;
    }
}